.teamItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .teamHeadItem{
    display: flex;
    flex-direction: row;
    font-size: 36px;
    margin: 16px 0;
    .head2{
      color:#fc673d
    }
  }

  .teamImg{
    width: 320px;
    height: 280px;
  }
  .foodName{
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  .teamIcon{
    width: 28px;
    height: 28px;
  }
  .teamHotelName{
    font-size: 28px;
    color: darkgrey;
    margin-left: 8px;
  }
  .teamBottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .teamPersons{
      border: 1px solid orange;
      width: 80px;
      height: 30px;
      padding-left: 8px;
      font-size: 26px;
      color: orange;
      margin-left: 6px;
      padding-bottom: 14px;
    }
    .teamPrice{
      color: orangered;
      font-size: 38px;
    }
    .price{
      font-size: 22px;
      margin-left: 8px;
      color: grey;
      text-decoration: line-through;
    }
  }


}
